/.scannerwork/
/YouPHPTube.code-workspace
/git.php
/iptvsource_one_one.csv
/nbproject/
/nbproject/private/
/plugin/AD_Server_Promote_Videos/
/plugin/AWS_S3/
/plugin/AudioTrackSwitcher/
/plugin/AudioVisualizer/
/plugin/AutoShare/
/plugin/Backup/
/plugin/Blackblaze_B2/
/plugin/Bookmark/
/plugin/Chat2/
/plugin/CountryRedirect/
/plugin/CreateUserManager/
/plugin/Customize/
/plugin/DIY/
/plugin/DiskUploadQuota/
/plugin/FTPAutoImport/
/plugin/FTP_Storage/
/plugin/FlixHouse/
/plugin/GoogleAds_IMA/
/plugin/IPDirectConnect/
/plugin/IPTV/
/plugin/ImportFromOtherVideoPlatform/
/plugin/Layout/hamburguerMenu.php
/plugin/Layout/navBarLateral.php
/plugin/Layout/navbar.php
/plugin/Layout/timer.php
/plugin/LifeStreamLayout/
/plugin/LiveCountdownEvent/
/plugin/LiveOnlineUsers/
/plugin/LiveUsers/
/plugin/Livesearch/
/plugin/LoginLDAP/
/plugin/LoginLDAP_DYNA/
/plugin/MP4ThumbsAndGif/
/plugin/MP4ThumbsAndGifLocal/
/plugin/Notifications/
/plugin/PayPalToWatch/
/plugin/PayPerView/
/plugin/PayPerViewLive/
/plugin/PointsSystem/
/plugin/PromoteVideos/
/plugin/ReturnToLastPosition/
/plugin/SecondLife/
/plugin/SecondWatch/
/plugin/SecureVideosDirectory/
/plugin/SendRecordedToEncoder/
/plugin/SignUpAgreement/
/plugin/Statistics/
/plugin/Subscription/
/plugin/SubtitleSwitcher/
/plugin/SupportAuthor/
/plugin/Tecorio/
/plugin/User_Controll/
/plugin/VideoDocuments/
/plugin/VideoHLS/
/plugin/VideoResolutionSwitcher/
/plugin/VideoSpeed/
/plugin/VideoThumbnails/
/plugin/Video_Location_Block/
/plugin/YPTStorage/
/plugin/YouPHPTV/
/plugin/ZoomMeetingRecorder/
/plugin/oncologytube/
/plugin/predefinedCategory/
/plugin/AD_Server/
/plugin/AD_Server_Location/
/plugin/ADs/
/plugin/AWS_S3/
/plugin/AdsForJesus/
/plugin/Articles/
/plugin/Blackblaze_B2/
/plugin/BlockonomicsYPT/
/plugin/BulkEmbed/
/plugin/Chat2/
/plugin/CloneSite/
/plugin/CombineSites/
/plugin/CookieAlert/
/plugin/DiscordNotify/
/plugin/DiskUploadQuota/
/plugin/FTP_Storage/
/plugin/GoogleAds_IMA/
/plugin/IMDbScrape/
/plugin/LiveLinks/
/plugin/LoginLDAP/
/plugin/LoginLinkedin/
/plugin/LoginTwitter/
/plugin/LoginYahoo/
/plugin/MP4ThumbsAndGif/
/plugin/MaintenanceMode/
/plugin/Meet/
/plugin/Notifications/
/plugin/OptionsTest/
/plugin/PayPalYPT/
/plugin/PayPerView/
/plugin/PlayLists/
/plugin/PredefinedCategory/
/plugin/PromoteVideos/
/plugin/RazorPayYPT/
/plugin/ReportVideo/
/plugin/ShareSocialButtonsOnEmbed/
/plugin/SlackBot/
/plugin/SlackNotify/
/plugin/SubtitleSwitcher/
/plugin/VideoResolutionSwitcher/
/plugin/VideoTags/
/plugin/VimeoAPI/
/plugin/WWBN/
/plugin/YPTSocket/
/plugin/YouPHPFlix2/
/plugin/YouTube/
/plugin/YouTubeAPI/
/plugin/ZoomMeetingRecorder/

/plugin/upload.sh
/plugin/upload_local.sh
/plugin/README.md
/videos/
*.ser
sitemap.xml
